<h1>Success!</h1>
<p><%= @message %> </p>

<p>You can try another login method</p>
<p><%= link_to "Connect With Facebook", "/auth/facebook" %></p>
<p><%= link_to "Connect With Twitter", "/auth/twitter" %></p>

<p></p>
<p>Or logout here: <%= link_to "Logout", "/logout" %></p>
